*{
    list-style: none;
    text-decoration: none;
    color: black;
}

.html{
    margin: 0 auto;
}

.body1{
    background-color: #d9d9d9;
}
.header{
    margin: 0 auto;
}
.header-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.menu{
    width: 10vw;
    font-size: 11px;
    display: flex;
    padding-top: 30px;
    justify-content: space-between;
    align-items: center;
    padding-right: 70px;
}

.website-name{
    font-size: 40px;
    color: #cfff0e;
    padding-top: 30px;
    padding-left: 70px;
}



.container{
    width: 98vw;
    height: 80vh;
    position: relative
}

.card{
    border: 1px solid black;
    width: 150px;
    height: 150px;
    font-size: 11px;
    display: flex;
justify-content: space-between;
 flex-direction: column;
 flex-wrap: wrap;
  position: absolute
}

.card:hover{
    background-color: #cfff0e;
}


.card-title{
    line-height:13px;
    margin-top: 1px;
    padding-left: 8px;
    margin-bottom: 0;
    border-bottom: 1px solid black;
}



.card-text{
    padding-top: 2px;
     padding-left: 8px;
 padding-right: 8px;
}

.card-inner2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100pw;
    margin-left: 8px;
    margin-right: 8px;
}


.card1{
     top: 20px;
  left: 280px;
}

.card2{
     top: 300px;
  left: 100px;
}
.card3{
     top: 260px;
  left: 323px;
}

.card4{
     top: 370px;
  left: 500px;
}

.card5{
     top: 310px;
  left: 699px;
}

.card6{
     top: 120px;
  left: 540px;
}

.card8{
     top: 63px;
  left: 710px;
}

.card9{
     top: 85px;
  left: 907px;
}

.card10{
     top: 30px;
  left: 30px;
}

.card11{
     top:368px;
  left: 950px;
}

.card12{
     top: 180px;
  left: 1175px;
}

.body{
    margin: 0;
}

.menu-item1-about{
    background-color: #cfff0e00;
}

.body{
    margin-top: none;
    width: 97vw;
    height: 97vh;
    background-image: url(./img/Screenshot\ 2025-12-25\ at\ 21.46.34.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.menu-about{
    padding-right: 35px;
}

.website-name-about{
    padding-left: 78px;
    color: black;
}
.about-main{
    width: 97vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-hero{
    background-color: #cfff0e00;
    font-size: 40px;
    line-height: 200%;
    max-width: 88vw;
    text-align: justify;
  text-justify: inter-word;
}

.header-container-about{
    margin-top: 8px;
}

.about-main{
    width: 100%;
    display: flex;
    justify-content: center;
}



.para-main{
    font-size: 33px;
    line-height: 70px;
    padding-left: 50px;
    max-width: 90vw;
    text-align: justify;
}


.body-contact{
 background-color: #d9d9d9;
 position: relative
}


.header-container-about-main{
    padding-right: 35px;
}


.website-name-contact:hover{
color: #cfff0e;

}

.website-name-contact2{ 
padding-left: 70px;
}

.contact-item{
    font-size: 20px;
    position: absolute;
}

.contact-item-color{
    color: #cfff0e;
}

.contact-item1{
     top: 170px;
  left: 310px;
}


.contact-item2{
     top: 300px;
  left: 907px;
}

.contact-item3{
     top: 530px;
  left: 478px;
}

body {
  background: #e5e5e5;
}


